#include <dt-bindings/zmk/matrix_transform.h>
#include "grin3.dtsi"
#include "grin3-pinctrl.dtsi"

/ {
  chosen {
    zmk,physical-layout = &grin3_physical_layout;
  };

  grin3_physical_layout: grin3_physical_layout {
      compatible = "zmk,physical-layout";
      display-name = "Default";
      transform = <&default_transform>;
      kscan = <&kscan0>;

      keys  //                     w   h    x    y     rot    rx    ry
          = <&key_physical_attrs 100 100    0    0       0     0     0>
          , <&key_physical_attrs 100 100  100    0       0     0     0>
          , <&key_physical_attrs 100 100  201    2     375   251    52>
          , <&key_physical_attrs 150 100    0  100       0     0     0>
          , <&key_physical_attrs 100 100  150  100     125   200   150>
          , <&key_physical_attrs 100 100  251  107     625   301   157>
          , <&key_physical_attrs 175 100    0  200       0     0     0>
          , <&key_physical_attrs 100 100  175  201     250   225   251>
          , <&key_physical_attrs 100 100  276  210     750   326   260>
          , <&key_physical_attrs 100 100  375  227    1250   425   277>
          , <&key_physical_attrs 225 100    0  300       0     0     0>
          , <&key_physical_attrs 100 100  226  304     500   276   354>
          , <&key_physical_attrs 100 100  326  318    1000   376   368>
          ;


    default_transform: keymap_transform_0 {
      compatible = "zmk,matrix-transform";
      columns = <4>;
      rows = <4>;

      map = <
        RC(0,1) RC(0,2) RC(0,3) 
        RC(1,0) RC(2,1) RC(2,3)
        RC(2,0) RC(2,1) RC(2,3)
        RC(3,0) RC(3,1) RC(3,2)
        >;
    };
 
    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-charlieplex";
 
        interrupt-gpios = <&shifter 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
}
