#include <dt-bindings/zmk/matrix_transform.h>
#include "grin3_dm.dtsi"
#include "grin3_dm-pinctrl.dtsi"
 
#define INPUT_EV_KEY 0x01               /**< Key event */
#define INPUT_EV_REL 0x02               /**< Relative coordinate event */
#define INPUT_EV_ABS 0x03               /**< Absolute coordinate event */
#define INPUT_EV_MSC 0x04               /**< Miscellaneous event */
#define INPUT_EV_VENDOR_START 0xf0      /**< Vendor specific event start */
#define INPUT_EV_VENDOR_STOP 0xff       /**< Vendor specific event stop */

#define INPUT_REL_X 0x00                /**< Relative X coordinate */
#define INPUT_REL_Y 0x01                /**< Relative Y coordinate */
#define INPUT_REL_WHEEL 0x08            /**< Relative wheel coordinate */
#define INPUT_REL_HWHEEL 0x06           /**< Relative horizontal wheel coordinate */
#define INPUT_REL_MISC 0x09             /**< Relative misc coordinate */

    &default_transform: keymap_transform_0 {
      compatible = "zmk,matrix-transform";
      columns = <3>;
      rows = <2>;

      map = <
        RC(0,3) RC(1,3) RC(2,3)
        RC(0,4) RC(1,4) RC(2,4)
        RC(3,0) RC(3,1) RC(3,2)
        RC(4,0) RC(4,1) RC(4,2)
        >;
    };

&trackball {
    status = "okay";
    	irq-gpios = <&xiao_d 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    	cpi = <400>;
    	evt-type = <INPUT_EV_REL>;
    	x-input-code = <INPUT_REL_X>;
    	y-input-code = <INPUT_REL_Y>;
};

&kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        col-gpios
            = <&shifter 0 GPIO_ACTIVE_HIGH>
            , <&shifter 1 GPIO_ACTIVE_HIGH>
            ;
        row-gpios
            = <&shifter 2 GPIO_ACTIVE_HIGH>
            , <&shifter 3 GPIO_ACTIVE_HIGH>
            ;
};

&spi0 {
    status = "okay";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;
};
